/* Task Info Btn --- not used*/ 

.moreInfoBtn{
    display: none; /* not used*/
    height: 40px;
    margin: 0px 5px;
}

.dot{
    height: 10px;
}

.moreInfoBtn:hover{
    color: rgb(12, 80, 114);
}

/* Star Checkboc*/

.starCheckBox{
    display: none;
}

.starLabel{
    height: 40px;
    margin: 0px 5px;
    font-size: 37px;
    color: rgb(152, 152, 152);
    cursor: pointer;
    user-select: none;
    transition: color 0.1s;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -3px;
    font-weight: bolder;
}

.starLabel:hover{
    color: black;
}

.starCheckBox:checked + .starLabel{

    color: gold;
    
}

.line{
    display: flex;
    margin: 20px 10px 20px 0px;
}

.line p{
    margin: 0;
    width: 50%;
    text-align: center;
    color: white;
    font-weight: bold;
}

.line-x{
    display: none;
    align-self: center;
    justify-self: center;
    width: 50%;
    height: 2px;
    background-color: white;

}

.line-x.show{
    display: block;
}

.line-close{
    padding: 0px 20px;
    color: white;
    cursor:pointer;
    user-select: none;
}


.trashBin{
    font-size: 42px;
    color: black;
    font-weight: 100;
    user-select: none;
    padding: 0px 10px;
    transform:  translateY(-2px);
}

.trashBin.red{
    color: red;
}