/*Scroll bar*/

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track{
    background: rgb(39, 39,39);
}

::-webkit-scrollbar-thumb{
    background: rgb(100,100,100);
    border-radius: 5px;
}



/* Main Page Styles*/
body{
    margin: 0px;
    background: rgb(34, 34, 34);
    --space: 15px;
    --sideBarWidth: 0px
    
}

body.showSideBar{
    --sideBarWidth: 160px
}


.app{
    --inputHeight: 70px;
    
    margin: var(--space);
    background-color: rgb(39, 39, 39);
    height: calc(100svh - var(--space)*2);
    display: flex;
    position: relative;
    margin-left: calc(var(--sideBarWidth) + var(--space));

}


.app-content{
    
    width: 100%;
    height: calc(100% - var(--inputHeight));
    overflow-y: auto;
}
/*add task Button(input)*/
.input{
    position: absolute;
    display: flex;
    left: 0px;
    right: 0px;
    bottom: 0px;
    height: var(--inputHeight);
    padding: 0px 10px;
    
    z-index: 101;
    /*background-color: rgba(34, 51, 46, 0.978);
    justify-content: space-between;
    */
    align-items: center;
    
    
}

/*tasks*/
.taskInfo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
}

.taskInfo p{
    padding-left: 10px;
}


.taskInputBtn{
    border: none;
    height: 35px;
    width: 80%;
    border-radius: 5px;
    cursor: pointer;
    margin-inline: auto;
    font-weight: 700;
    background-color: rgb(232, 62, 19);
    color: white;
    transition: all 0.1s;
}

.taskInputBtn:hover{
    background-color: rgb(230, 74, 35);
}

.taskInputBtn:active{
    background-color:  rgb(229, 93, 59);
}

.Tasks{
    position: relative;
    margin: 0px 10px;
}

.task{
    cursor: pointer;
    margin: 10px 0px;
    border-radius: 3px;
    background: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    padding: 5px;
    transition: transform 0.15s;
    align-items: center;
}

.task.completed{
    background-color: rgb(255, 255, 255, 0.3);
    
}

.task.completed p{
    text-decoration: line-through;
}

.task:hover{
    transform: scale(1.01);

}

.checkBox{
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.header{
    display: flex;
    margin-top: 0px;
    margin-bottom: 5px;
    padding-top: 10px;
    align-items: center;
    margin: 0px 13px;
    
}

.header input{
    color: rgb(211,211,211);
    text-align: right;
    margin: 0px 0px;
    height: 20px;
    background-color: transparent;
    outline: none;
    border: none;
    width: 120px;
    font-size: 20px;
    text-align: left;
    padding: 2px 5px;
    cursor: pointer;

}

.checkBoxes{
    display: flex;
    justify-items: center;
    align-items: center;
    padding-inline: 10px;
}



/*Add Task Pop Up*/

.addTaskPopUp {
    position: fixed;
    background-color: rgb(39, 39, 39);
    border: 2px rgb(211,211,211) solid;
    border-radius: 10px;
    height: 170px;
    width: calc(100% - var(--sideBarWidth) - var(--space)*4);
    bottom: 0px;
    z-index: 102;
    transform: translateY(100%);
    opacity: 0;
    transition: transform 0.2s ease, opacity 0.2s ease;
    transform: translateY( 100%); /* Center X, push off bottom */
    opacity: 0;
    transition: transform 0.5s, opacity 0.5s;
    left: calc(var(--sideBarWidth) + var(--space)*2);
}

.addTaskPopUpShow {
    transform: translateY(-10%);
    opacity: 1;
}

.taskInputDiv{
    padding: 10px;
}

.taskInput, .taskInputDesc{
    display: block;
    margin: 0 auto;
    border: none;
    
    width: 90%;
    border-radius: 5px;
    padding: 0px 0px 0px 10px;
    margin: 0px 0px 10px 0px;
    color: black;
    margin-inline: auto;
    
}

.taskInput::placeholder, .taskInputDesc::placeholder{
    font-weight: 530;
    text-align: center;
}

.taskInputDesc::placeholder{
    font-size: 15px;
}

.taskInput{
    font-size: 14px;
    margin-top: 4px;
    height: 30px;
    
}

.taskInputDesc{
    height: 50px;
    overflow:hidden;
    resize: none;
}


.taskInputRow3{
    padding: 0px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.taskInputRow3 *{
    border: none;
    padding: 10px 0px;
    border-radius: 10px;
    cursor: pointer;
}

.inputDateBtn{
    width: 30%;
    text-align: left;
    padding-inline: 10px;
    max-width: 200px;
}

.repeatInputBtn{
    display: none;
    padding-inline: 3%;
}

.addTaskConfirm{
    width: 60%;
    background-color: rgb(58, 153, 76);
    
}

/*Task Descitpion*/
.desc{
    color: rgb(0, 0, 0, 0.6);
    font-size: 12px;
}